/**
 * 全体のスタイル
 *
 * @format
 */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5; /* 背景画像の上に白い薄い壁紙効果 */
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  height: 100px; /* ロゴのサイズ調整 */
}

.main-content {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1000;
}

.title {
  display: inline-block;
  font-size: 5em;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.user-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  /* アイコンのスタイル設定をここに追加 */
}
