/**
 * login_icon.css
 *
 * @format
 */

/* 共通スタイル */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
}

.header .ruk-logo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100px; /* ロゴの幅 */
}

.icon-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon-preview {
  width: 200px; /* アイコンの幅 */
  height: 200px; /* アイコンの高さ */
  border-radius: 50%; /* 円形にする */
  background-color: #fff; /* 背景色 */
  margin-bottom: 20px;
  position: relative; /* 位置を調整するための基点 */
}

.icon-preview img {
  max-width: 100%; /* 画像がコンテナに収まるようにする */
  max-height: 100%;
  display: block; /* ブロック要素として表示 */
}

.icon-label {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

button#loginButton {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  height: 20px;
}
