/**
 * styles1.css
 *
 * @format
 */

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  background-color: #333;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  color: #fff;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button#nextButton {
  padding: 10px 15px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#nextButton:hover {
  background-color: #555;
}

.error-message {
  color: red;
  height: 20px;
}
