/**
 * 全体のスタイル
 *
 * @format
 */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: url("your_background_image_link_here") no-repeat center center
    fixed; /* ここに背景画像リンクを挿入 */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ヘッダーとロゴのスタイル */
header {
  text-align: left;
  padding: 10px;
}

#logo {
  height: 60px; /* ロゴのサイズ調整 */
}

/* メインコンテンツのスタイル */
main {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#main-title {
  font-size: 4em; /* タイトルのフォントサイズ調整 */
  color: #000;
  cursor: pointer;
}

/* ユーザーアイコンのスタイル */
aside {
  position: absolute;
  top: 10px;
  right: 10px;
}

#user-icon {
  height: 50px; /* アイコンのサイズ調整 */
  cursor: pointer;
}
