/** @format */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0px;
  background-color: #f4f4f4;
}

header {
  width: 100%;
  padding: 0px 20px 0px 20px;
  position: fixed;
  background-color: rgb(255, 255, 255, 0.3);
}

h1,
h2 {
  margin: 15px;
  color: #333;
  left: 50%;
  text-align: center;
}

header img {
  width: 5rem;
  padding: 10px;
}

#entrance {
  width: 100%;
  position: relative;
  z-index: -1;
}

#entrance img {
  width: 100%;
}

#entrance h2 {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  font-family: "ヒラギノ丸ゴ ProN";
}

#app,
#loginSection {
  max-width: 600px;
  margin: auto;
}

input[type="text"],
input[type="datetime-local"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
