/**
 * ./login/styles1.css
 *
 * @format
 */

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333; /* 背景色 */
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  margin-bottom: 30px;
}

.logo-container img.ruk-logo {
  width: 220px; /* ロゴのサイズ調整 */
  height: 100px; /* ロゴの高さ調整 */
  object-fit: cover; /* 画像のサイズ調整 */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  color: #fff; /* ラベルのテキスト色 */
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="checkbox"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-group input[type="checkbox"] {
  margin-right: 5px;
}

.form-group button#nextButton {
  padding: 10px 20px;
  background-color: #4caf50; /* ボタンの背景色 */
  color: white; /* ボタンのテキスト色 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s; /* 背景色のトランジション */
}

.form-group button#nextButton:hover {
  background-color: #45a049; /* ホバー時の背景色 */
}

.error-message {
  color: red; /* エラーメッセージのテキスト色 */
  height: 20px;
}
